a{
	text-decoration: none;
	color: #8b8b8b;
}
#header{
	width: 100%;
	height: 36px;
	background-color: #F6F6F6;
	overflow: hidden;
	position: relative;
	font-size: 12px;

}
.header-container{
	width: 1190px;
	min-width: 1100px;
	margin: 0 auto;
	color: #8b8b8b;
}
.header-container>a{
	text-decoration: none;
	color: #8b8b8b;
	line-height: 36px;
	text-align: center;
	margin: 0 5px;
}
.header-container>a>img{
	width: 14px;
	height: 15px;
	vertical-align: middle;
	margin-right: 3px;
}
.header-container ul{
	float: right;
	line-height: 36px;
}
.header-container ul li{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	margin-left: -1px;
}
.header-container ul span{
	float: left;
	line-height: 36px;
}
.header-container ul li a img{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-left: 3px;
}
#logo{
	width: 1190px;
	margin: 40px auto 0px;
	overflow: hidden;
}
#logo ul{
	height: 50px;
    background: #0085D7;
    margin: 40px 0 23px;
    position: relative;
}
#logo ul li {
	float: left;
	position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
}
#logo ul li:hover{
	background-color:#0065D7;
}
#logo>ul>li>a{
	display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
#logo>ul>li>a:hover{
	
}
#page{
	width: 1190px!important;
    margin: 0 auto;
    min-width: 1100px;
    overflow: hidden;
    font-size: 12px;
}
.page_left{
	float: left;
	position: relative;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
}
.page_left>span{
	font-size: 14px;
	position: relative;
    display: block;
    width: 173px;
    height: 42px;
    line-height: 42px;
    padding-left: 15px;
    background-color: #F5F5F5;
}
.page_left ul li a img{
	width: 24px;
	height: 18px;
	vertical-align: middle;
}
.page_left ul li{
    background: #fff;
    width: 163px;
    margin: 0 10px 0 15px;
    padding: 13px 0;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
}
.page_left ul li a{
	width: 160px;
    height: 20px;
    line-height: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
    display: block;
    clear: both;
}
.page_left ul li span{
	display: block;
	float: left;
	margin-top: 3px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b; 
    cursor: pointer;
}
.page_left ul li span:hover{
	text-decoration: underline;
}
.page_right{
	float: left;
	overflow: hidden;
	position: relative;
	border: 1px solid #d6e5f4;
    margin-bottom: 20px;
    padding: 25px;
    color: #666;
    margin-left: 15px;
    width: 933px;
}
.first-title>h1{
	height: 55px;
    line-height: 55px;
    font-size: 24px;
    font-weight: 500;
    color: #666666; 
}
.first-title>p{
	height: 45px;
    line-height: 45px;
}
.first-title>div{
	width: 32%;
	height: 60px;
	padding: 10px 0px;
	float: left;
	margin-right: 12px;
	position: relative;
	cursor: pointer;
/*	background-color: #F2F3F7;*/
}
.first{
	background-color: #75B0DF;
}
.second{
	background-color: #F2F3F7;
}
.third{
	background-color: #F2F3F7;
}
.third>div{
	text-align: left;
	font-size: 45px;
    position: absolute;
    left: 45px;
    top: 10px;
    z-index: 2;
}
.second>div{
	text-align: left;
	font-size: 45px;
    position: absolute;
    left: 45px;
    top: 10px;
    z-index: 2;
}
.first>div{
	text-align: left;
	font-size: 45px;
    position: absolute;
    left: 45px;
    top: 10px;
    z-index: 2;
    color: white;
}
.first>.p1{
	color: #FFFFFF;
	margin-top: 8px;
	margin-left: 90px;
	margin-bottom: 10px;
}
.first>.p2{
	margin-left: 90px;
}
.second>.p1{
	margin-top: 8px;
	margin-left: 90px;
	margin-bottom: 10px;
}
.third>.p1{
	margin-top: 8px;
	margin-left: 90px;
	margin-bottom: 10px;
}
.second>.p2{
	margin-left: 90px;
}
.third>.p2{
	margin-left: 90px;
}
.page_right2{
/*	display: none;*/
}
.open-type1-container>img{
	width: 80px;
	height: 80px;
}
.open-type1-container>h3{
	height: 55px;
    line-height: 55px;
    font-size: 25px;
}
.open-type1-container>a{
	display: block;
    margin-top: 40px;
    margin-bottom: 5px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 38px;
    border-width: 1px;
    background-color: #0085D7;
    border-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
}
.open-type1-container>p{
	line-height: 28px;
	margin: 5px 0;
}
.open-type1-container{
    width: 200px;
    margin: 60px auto;
}
.open-type1{
	float: left;
    width: 50%;
    text-align: center;
}
.open-type2{
	float: left;
    width: 50%;
    text-align: center;
    
}
.page_bottom{
	width: 933px;
    border: 1px solid #d6e5f4;
    margin-bottom: 20px;
    padding: 25px;
    color: #666;
    float: right;
}
.page_bottom>h1{
	margin: 16px 0 12px;
    font-size: 24px;
    line-height: 36px;
}
.page_bottom>a{
	display: inline-block;
	color: #333;
    background-color: #F7F8FA;
    border-color: #A0A2AD;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 38px;
    border-width: 1px;
    margin-top: 10px;
}
#bottom{
	width: 1190px;
    border-top: 3px solid #0085D7;
    clear: both;
    margin: 10px auto;
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
    overflow: hidden;
    color: #333;
    position: relative;
    padding-bottom: 35px;
}
.bottom-1{
	float: left;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 12px;
	width: 1090px;
}
.bottom-1>a{
	color: #333333;
	padding: 0 5px;
	float: left;
}
.bottom-1>span{
	float: left;
}
.bottom-1>a:hover{
	text-decoration: underline;
	color: #E02804;
}
.bottom-2{
	float: left;
	width: 100%;
}
.bottom-2 ul li{
	float: left;
	padding: 5px;
	margin-top: 5px;
}
.bottomimg{
	position: absolute;
	right: 15px;
	top: 0px;
}
/*fengexian---------------------------------------------------*/
.read-agreement-paper-container{
	border: 1px solid #d6d6d6;
    padding: 25px 50px;
    margin: 15px 0;
}
.question{
	margin: 5px 0;
    padding: 0;
    line-height: 22px;
    color: #000000;
}
.answer{
	margin-bottom: 38px;
}
.tiaozhuan{
	margin-top: 70px;
    text-align: center;
    color: #666;
}
#lastStep{
	height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    line-height:40px;
    border-width: 1px;
    background-color: #EBF1F5;
    border-color: #C4C6CF;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    color: #333333;
}
#continue{
	margin-left: 20px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 38px;
    border-width: 1px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0085D7;
}
/*fengexian----------------------------------------------------*/
.open-shop-container{
    padding: 25px 0px;
    margin: 15px 0;
    margin-top: 100px;
}
.no2{
	background-color: #f2faee;
    border: 1px solid #8cc051;
    padding: 8px 15px;
}
.no2 p{
	line-height: 28px;
}
.no1{

	margin-bottom: 16px;
}
.no1 input{
	margin-left: 10px;
    line-height: 20px;
}
.no1 span{
	line-height: 20px;
}
.table1{
	width: 100%;
}
.table1 tr{
    border: 1px solid #DCDEE3;
}
.table1 tr th{
    background: #F2F3F7;
    color: #333;
    text-align: left;
    font-weight: 400;
    padding: 10px 16px;
    text-align: center;
    width: 25%;
}
.table2{
	width: 100%;
	border-spacing: 2px;
    border-color: grey;
}
.table tr{
	
}
.table2 tr td{
	min-height: 48px;
    line-height: 48px;
    width: 25%;
    text-align: center;
    padding: 10px 16px;
}
.no3 table tr td a{
	color: #00B0FF;
}
.no3 table tr td a:hover{
	text-decoration: underline;
}
.no4>a{
	display: inline-block;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 38px;
    background-color: #EBF1F5;
    cursor: pointer;
    border: 1px solid #C4C6CF;
}
.no4{
	text-align: center;
	margin-top: 20px;
    overflow: hidden;
    line-height: 40px;
}
