#header{
	width: 100%;
	height: 35px;
	overflow: hidden;
	background-color: #F5F5F5;
	font-size: 12px;
}
.header-container{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
ul li{
	list-style: none;
	float: left;
}
a{
	text-decoration: none;
	color: #6c6c6c;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
	color: #F40;
}
.header-container ul li{
	line-height: 35px;
	position: relative;
	cursor: pointer;
}
.header-container ul li img{
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.header-container-left li b{
	border: 3px solid transparent;
	border-top: 3px solid #6c6c6c;
	position: absolute;
	top: 15px;
}
.header-container-left li{
    font-size: 12px;
    color: #6C6C6C;
    padding: 0 10px 0 0;
    margin-right: 7px;
}
.header-container-right{
	float: right;
}
.header-container-right li{
	position: relative;
    padding: 0 6px;
    height: 35px;
    line-height: 35px;
}
.header-container-right li b{
	border: 3px solid transparent;
	border-top: 3px solid #6c6c6c;
	position: absolute;
	top: 15px;
	right: 0;
}
.header-container-right li a{
	margin-right: 5px;
}
/*fengexian-------------------------------------------*/
#banner{
	background-image: url(../img/serviceCenter/TB1E0WVLpXXXXaDXVXXXXXXXXXX-1440-563.jpg);
	width: 100%;
	height: 553px;
	padding-top: 10px;
}
.banner-top{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.banner-top a{
	background:url(../img/serviceCenter/TB1O2lLLXXXXXXXXVXXXXXXXXXX-130-33.png) no-repeat;
    padding: 0 9px 0 0;
    width: 130px;
    height: 33px;
    display: inline-block;
    float: left;
}
.banner-top span{
	width: 1px;
	display: inline-block;
    float: left;
    height: 29px;
    background: #fff;
    margin: 3px 0 0;
}
.banner-top p{
	width: 106px;
    height: 25px;
    display: inline-block;
    float: left;
    margin: 7px 0 0 9px;
	background: url(../img/serviceCenter/TB1hTESLXXXXXa4apXXXXXXXXXX-106-25.png) center no-repeat;
	cursor: pointer;
}
.banner-middle{
	width: 400px;
    margin: 320px auto 0;
    overflow: hidden;
    text-align: center;
    padding-left: 50px;
}
.banner-middle a{
	display: inline-block;
    width: 178px;
    height: 44px;
}
.a1{
	background-image: url(../img/serviceCenter/TB1bIRiLpXXXXa1XpXXXXXXXXXX-356-88.png);
	background-position: 0 0;
}
.a1:hover{
	background-image: url(../img/serviceCenter/TB1bIRiLpXXXXa1XpXXXXXXXXXX-356-88.png);
	background-position: 0 -44px;
}
.a2{
	background-image: url(../img/serviceCenter/TB1bIRiLpXXXXa1XpXXXXXXXXXX-356-88.png);
	background-position: -178px 0px;
	margin-left: 20px;
}
.a2:hover{
	background-image: url(../img/serviceCenter/TB1bIRiLpXXXXa1XpXXXXXXXXXX-356-88.png);
	background-position: -178px -44px;
}
/*fengexian---------------------------------------------*/
#footer{
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	color: #6C6C6C;
	padding-bottom: 20px;
}
.footer-container{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 15px;
}
.footer-container1 p a{
	display: inline-block;	
	padding: 0 4px;
	margin: 8px 0px;
}
.footer-container2 span{
	display: inline-block;
	padding: 0 10px 0 0;
	margin-top: 10px;
}
