#header{
	width: 100%;
	height: 36px;
	background-color: #F6F6F6;
	overflow: hidden;
	position: relative;
	font-size: 12px;

}
.header-container{
	width: 1190px;
	min-width: 1100px;
	margin: 0 auto;
	color: #8b8b8b;
}
.header-container>a{
	text-decoration: none;
	color: #8b8b8b;
	line-height: 36px;
	text-align: center;
	margin: 0 5px;
}
.header-container>a>img{
	width: 14px;
	height: 15px;
	vertical-align: middle;
	margin-right: 3px;
}
.header-container ul{
	float: right;
	line-height: 36px;
}
.header-container ul li{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	margin-left: -1px;
}
.header-container ul span{
	float: left;
	line-height: 36px;
}
.header-container ul li a img{
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-left: 3px;
}