a{color: black;text-decoration: none;}
.f-a{font-size: 12px;line-height: 20px;word-spacing: 8px;}
.f-b p{color: #aaa;font-size: 13px;line-height: 20px;word-spacing: 10px;}
ul li{list-style: none;}
.mainone{width:1100px; margin: 0 auto;min-width: 900px;}
#login{overflow: hidden;padding: 10px 20px;width: 100%;background:#F2F2F2 ;}
#login ul{font-size: 12px;}
#login ul li{text-align: center;}
#login ul li a{color: #888;}
#login_left{float: left;}
#login_left li{display: inline-block;width: 100px;}
#login_right {float: right;}
#login_right li{display: inline-block;width: 80px;}

.topsh{overflow: hidden;margin: 15px 0;font-size: 20px;}
.topshow a{display: inline-block;line-height: 50px;margin-right: 20px; font-size: 20px;color: white;}
.topshow a:hover{background-color: #A40000;}
.topshow{float: left;}
.topjs{float: right;padding-left: 200px;font-size: 14px;}
.topjs span{color: red;}
.topsum a{background: #DE3E3B;color: white;font-size: 14px;padding:5px 10px;}
.topjs p{display: inline-block;margin-left: 20px;line-height: 50px;}

.sh{background-color: #DE3E3B;height: 50px;position: fixed;bottom: 0px;overflow: hidden;}
.show a{display: inline-block;line-height: 50px;margin-left: 100px;}
.show{float: left;}
.js{float: right;padding-left: 200px;}
.js span{color: red;}
.sum a{background: #DE3E3B;color: white;font-size: 18px;padding: 10px 20px;}
.js p{display: inline-block;margin-left: 20px;line-height: 50px;}
hr{color: #fff;}

#foota{background-color: #eee;padding: 3px 0 0 0;margin: 20px 0 0 0;}
#con{overflow: hidden;}
#con img{width: 250px;}
#inta{width: 350px;height: 40px;margin-left: 300px;border: 2px solid #DE3E3B;border-right: none;}
#intb{width: 80px;height: 47px;background-color: #DE3E3B;border: none;margin-left: -5px;color: white;}

.midd{overflow: hidden;padding: 30px 0;}
.midleft{float: left;}
.midleft p{display: inline-block;margin-left: 100px;}
.midright{margin-left: 500px;}
.midright p{display: inline-block;margin-left: 100px;}
#login_left a:hover{color: red;}
#login_right a:hover{color: red;}
.topjs a:hover{color: red;}
.topshow a:hover{color: red;}
.f-a a:hover{color: red;}
.f-b a:hover{color: red;}
.show a:hover{color: red;}
.js a:hover{color: red;}

table tr td{vertical-align: middle;line-height: 25px;}
table tr td img{width: 100px;height: 100px;display: block;margin-left: 50px;}
table a:hover{color: red;}
#sub,#subb,#subc,#subd{width: 30px;}
#ssub,#ssum,#ssubb,#ssumb,#ssubc,#ssumc,#ssubd,#ssumd{border: none;}
table tr td span{color: red;}
table tr td{width: 300px;height: 70px;}

